@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 188 78% 93%;
    --foreground: 224 71% 4%;
    --card: 188 78% 98%;
    --card-foreground: 224 71% 4%;
    --popover: 188 78% 98%;
    --popover-foreground: 224 71% 4%;
    --primary: 199 90% 64%;
    --primary-foreground: 210 40% 98%;
    --secondary: 199 80% 88%;
    --secondary-foreground: 224 71% 4%;
    --muted: 199 80% 88%;
    --muted-foreground: 224 71% 25%;
    --accent: 199 97% 48%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 199 80% 80%;
    --input: 199 80% 85%;
    --ring: 199 97% 48%;
    --chart-1: 199 90% 64%;
    --chart-2: 199 97% 48%;
    --chart-3: 205 90% 55%;
    --chart-4: 210 90% 45%;
    --chart-5: 215 90% 35%;
    --radius: 0.5rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 199 90% 64%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 199 97% 48%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 199 90% 64%;
    --primary-foreground: 210 40% 9.8%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 199 97% 48%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 199 90% 64%;
    --chart-1: 199 90% 64%;
    --chart-2: 199 97% 48%;
    --chart-3: 205 90% 55%;
    --chart-4: 210 90% 45%;
    --chart-5: 215 90% 35%;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 199 90% 64%;
    --sidebar-primary-foreground: 210 40% 9.8%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 199 90% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
